

.content-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
        /* position: absolute; */

}

.main-content {
    /* border: 3px solid green; */
    margin-left: 25%;
    border-radius: 3%;
    width: 50%;
    display: flex;
    position: relative;
    /* background-color: #FAF9F6 */
    /* flex-direction: row; */
}

.header {
    position: relative;
    width: 100%;
    /* border : 1px solid blue; */
}

.intro-container{
    width: 100%;
}

.bio-container{
    /* display: flex; */
    width: 100%;
    text-align: left;
    /* border : 1px solid blue; */
}

.image-container{
    /* position: absolute; */
    left: 50%;
    margin-left: 25%;
    margin-top: 3%
    /* border: 1px solid blue; */
}

.socials-container{
    margin-top: 10px;
    justify-content: space-between;
    padding-left: 35%; 
    padding-right: 35%;   
    display: flex;
}

.icon{
    color: black;
}

.icon:hover{
    color: purple;
}

.experience-header {
    /* border: 3px solid green; */
    width: 50%;
    margin-left: 25%;
    text-align: left;

}
.experiences-container{
    margin-top: 20px;
    /* border: 3px solid green; */
    margin-left: 25%;
    width: 50%;
    /* display: flex; */
}

.experience-company {
    /* text-align: left; */
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.experience-title{
    /* text-align: left; */
    font-style: italic;
    display:flex;
    justify-content: space-between;
}

.highlight{
    color: purple;
}